/**
 Note: What is actually flipping is the `.inner-wrapper`.  The `.card` element is actually
 only the container for the actual effect.
 .card 
	.inner-wrapper 
		.card-face-front.card-face
		.card-face-back.card-face
 */

.card {
	position: relative;
	display: block;
	min-height: 263.36px; 
    text-align: center;
    perspective: 987px;
	background: #FFF;
	padding: 0;
}

.card .inner-wrapper {
    position: absolute;
    transition: transform 0.34s ease-in-out; /** Change ease and duration to your liking **/
    transform-style: preserve-3d;
    transform: rotateY(0);
	padding: 0;
	margin: auto;
	max-width: 89%;
}

.card .inner-wrapper,
.card .inner-wrapper .card-face {
    position: absolute;
	display: block;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
}

.card .inner-wrapper .card-face {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: 75% !important;
}

.card:hover .inner-wrapper,
.card:hover .card-face-back {
    transform: rotateY(180deg);
}

/** Front face of card **/
.card .card-face-back {
}

/** Back of card **/
.card .card-face-back {
	border: 1px solid #ddd;
	border-radius: 4px;
    transform: rotateY(180deg);
}

