@import url(page-header.css);
@import url(page-footer.css);
@import url(views.css);
@import url(game-view.css);
@import url(monsters-intro-view.css);
@import url(choose-difficulty-view.css);
@import url(game-leader-board-view.css);
@import url(game-summary-view.css);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

#wrapper {
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


.default-bg {
    background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
    background: -o-linear-gradient(right, #ee0979, #ff6a00);
    background: -moz-linear-gradient(right, #ee0979, #ff6a00);
    background: linear-gradient(to right, #ee0979, #ff6a00);
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

/** For centering trick **/
.page-footer,
.page-header,
.main-content {
    position: relative;
    text-align: center;
}

.page-header {
}

.main-content {
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

/** Completion of centering trick **/
.container {
    text-align: left;
    margin: auto auto 0;
    max-width: 1200px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.pos-fixed {
    position: fixed;
}

a {
    text-decoration: none;
}

a.border-bottom {
    transition: border-bottom-color 0.08s linear;
    border-bottom: 1px solid transparent;
}

a.border-bottom:hover {
    text-decoration: none;
    border-bottom-color: #e84029;
}

.page-header a,
.page-footer a {
    color: #FFF;
}

.page-header,
.game-area a,
.page-footer,
.container form,
.btn .btn-default {
    background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
    background: -o-linear-gradient(right, #ee0979, #ff6a00);
    background: -moz-linear-gradient(right, #ee0979, #ff6a00);
    background: linear-gradient(to right, #ee0979, #ff6a00);
    box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51) inset;
    border: none;
}

.page-header .controls .btn,
.game-area .btn {
    color: #e84029;
    background-color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 25px 10px;
    box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51) inset;
}

#change-color {
    background-color: blue;
}

.account, .no-account {
    text-align: center;
}

.col-md-3 a {
    text-decoration: none;
}

.game-timer .label, .value,
.user-score .label, .value,
.view a.border-bottom,
.view p {
    color: #e84029;
    font-family: 'Barrio', sans-serif;
    font-size: 34px;
    text-align: left;
}

.jumbotron {
    background-color: transparent;
}

form {
    margin: 0 auto 34px;
    width: 75%;
    color: #FFF;
    padding: 21px;
    border-radius: 20px;
}

form .btn-default {
    background-color: #fff;
    color: #e84029;
    border: 1px solid #e84029;
}

form .btn-default:hover {
    background-color: #e84029;
    color: #FFF;
    border: 1px solid #e84029;
}

.btn .btn-default {
    padding: 8px;
    margin: 13px;
    border-radius: 20px;
    color: #fff;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

@media (min-device-width: 320px) {
    .main-content .monster-image {
        margin-bottom: 5px;
    }
}

@media (min-device-width: 320px) and (orientation: portrait) {
    .col-md-3 {
        text-align: center;
    }

    .col-md-3 > div {
        width: auto;
        display: inline-block;
    }
}

@media (min-device-width: 320px) and (orientation: landscape) {
    .main-content .monster-image {
        margin-bottom: 5px;
    }

    .col-md-3 {
        text-align: center;
    }

    .col-md-3 > div {
        width: auto;
        display: inline-block;
    }
}

@media (min-device-width: 768px) {
    .container {
        width: 89%;
        max-width: 1200px;
    }
}

