@import url(header.css);
@import url(views.css);
@import url(card-flip.css);
@import url(game-view.css);
@import url(monsters-intro.css);

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

/** For centering trick **/
.page-footer,
.page-header,
.main-content
{
	text-align: center;
}

/** Completion of centering trick **/
.container {
	text-align: left;
	margin: auto;
	margin-bottom: 21px;
	max-width: 1200px;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#wrapper {
	height: 100%;
	width: 100%;
}

.pos-fixed {
	position: fixed;
}

.page-header {
	width: 100%;
	z-index: 999;
}

.page-header,
.page-header a,
.page-footer a,
.page-footer {
	color: #FFF;
	text-decoration: none;
}

.page-header {
	margin-top: 0;
	padding: 16px;
}

.page-header,
.game-area a,
.page-footer,
form,
.btn .btn-default {
	background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
	background: -o-linear-gradient(right, #ee0979, #ff6a00);
	background: -moz-linear-gradient(right, #ee0979, #ff6a00);
	background: linear-gradient(to right, #ee0979, #ff6a00);
	box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51)inset; 
	border: none;
}

.page-header .controls .btn,
.game-area .btn {
	color: #e84029;
	background-color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	border-radius: 20px;
	outline: none;
	border: none;
	margin: 25px 10px;
	box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51) inset; 
}

.game-area {
	display: flex;
	flex-direction: column;
}
.game-area a {
	color: #fff;
	text-decoration: none;
	text-align: start;
	border-radius: 20px;
	margin: 8px;
	padding: 13px 55px;
}

.page-header .controls .btn:hover {
	color: #fff;
	background-color: rgba(255, 106, 0, 0.48);
}

.page-header .controls .btn:active {
	background-color: rgb(180, 9, 9);
	box-shadow: 0 5px #777;
	transform: translateY(4px);
}

.page-header > * {
	display: inline-block;
}

.faux-header {
	visibility: hidden;
}

.typewriter h2 {
	overflow: hidden;
	border-right: .15em;
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: .15em; 
	animation: 
	typing 3.5s steps(40, end),
	blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} 

.jumbotron h2, .game-area h2, h3 {
	font-family: 'Barrio', cursive;
	font-size: 32px;
	color: #e84029;
	text-align: center;
	padding-right: 15px;
	margin-bottom: 55px;
	letter-spacing: 1px;
	
}

#change-color {
	background-color: blue;
}

h3 {
	display: inline-block;
	padding-right: 0px;
}

.jumbotron .container a {
	text-decoration: none;
}

.jumbotron .container h3:hover,
.jumbotron .container h3:hover{
	opacity: 1;
	border-bottom: 5px solid rgba(232, 64, 41, 0.6);
}

.account, .no-account {
	text-align: center;
}

 h3 {
	margin-bottom: 2px;
}
.caption p {
	font-family: 'Barrio', cursive;
	color: #e84029; 
	text-align: center;
}

.col-md-3 a {
	text-decoration: none;
}

.page-footer {
	margin-bottom: 0;
}

.page-footer .container span {
	display: inline-block;
	font-weight: 100;
	letter-spacing: 2px;
	padding: 18px 0px;
	font-size: 13px;
	margin-right: 20px;
	margin-top: 5px;
	text-decoration: none;
}

.page-footer .container span:nth-child(2) {
	font-size: 21px;
} 

.jumbotron {
	background-color: transparent;
}

form {
	margin-bottom: 34px;
	margin: 0 auto;
	width: 75%;
	color: #FFF;
	padding: 21px;
	border-radius: 20px;
}

form .btn-default {
	background-color: #fff;
	color: #e84029;
	border: 1px solid #e84029;
}

form .btn-default:hover {
	background-color: #e84029;
	color: #FFF;
	border: 1px solid #e84029;
}

.main-content .monster-images {
	text-align: center;
}

.main-content .monster-images .monster-image {
	margin: 0 auto 5px;
}

.main-content .monster-images .monster-image img {
	display: inline-block;
	border: 1px solid #ff6a00;
	border-radius: 20px;
}

.monsters-showcase {
	list-style: none;
	width: 100%;
}

.monsters-images {
	margin: auto 0;
}

.monsters-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.monster-pic {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.monster-pic img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.monster-pic img:hover {
	opacity: 1;
	transform: scale(1.03);
}

.opening-cards {
	margin-top: 21px;
}

.btn .btn-default {
	padding: 8px;
	margin: 13px;
	border-radius: 20px;
	color: #fff;
}

#game-view > header * {
	color: #e84029;
    font: bold 55px 'Barrio', cursive;
    display: inline-block;
}

#game-view > header .value {

}

 #game-view  > .row {
	 text-align: center;
}

#game-view > header .game-info {
}

#game-view .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#game-view .cards .card-container {
    flex-basis: 144px;
    height: 233px;
    text-align: center;
    perspective: 987px;
    margin-bottom: 21px;
    cursor: pointer;
}

#wrapper .card {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.08s linear, box-shadow 0.13s linear;
    transform-style: preserve-3d;
    transform: scale(0.89, 0.89) rotateY(0);
}

#game-view .cards .card-container .card,
#game-view .cards .card-container .card-face {
    position: absolute;
    border-radius: 21px;
}

#game-view .cards .card,
#game-view .cards .card-face-front {
    border: 1px solid #CCC;
}

#game-view .cards .card-container .card-face,
#game-view .cards .card-container .card {
    width: 100%;
    height: 100%;
}

/** Card container active **/
/*#game-view .cards .card-container:active .card,*/
#game-view .cards .card-container.active .card {
	transform: scale(1, 1) rotateY(180deg);
	box-shadow: 0 0 21px rgba(0,0,0,0.21);
}

/** Front face of card **/
#game-view .cards .card-container .card-face-front {
	background: #fff;
	transform: rotateY(180deg);
	transition: box-shadow 0.21s linear;
	box-shadow: 0 0 3px rgba(0,0,0,0.21);
}

/** When card container is active (front face) **/
/*#game-view .cards .card-container.active .card-face-front,*/
#game-view .cards .card-container.active .card-face-front {
	background: #fff;
	transform: rotateY(180deg);
	box-shadow: 11px 11px 11px rgba(0,0,0,0.21);
}

#game-view .cards .card-container .card-face-back {
	background: url(../../../experiment/img/sakura/sakura.png);
	background-size: 100%;
	/*background-blend-mode: overlay;*/
}


/* End Game view */



@media (min-device-width: 320px) {
	.page-footer {
		border: none;
	}
	.main-content .monster-image {
		margin-bottom: 5px;
	}
}

@media (min-device-width: 320px) and (orientation: portrait) {
	.page-header .title {
		font-size: 34px;
	}
		.col-md-3 {
		text-align: center;
	}
	.col-md-3 > div {
		width: auto;
		display: inline-block;
	}
}

@media (min-device-width: 320px) and (orientation: landscape) {
	.main-content .monster-image {
		margin-bottom: 5px;
	}
	
	.col-md-3 {
		text-align: center;
	}
	.col-md-3 > div {
		width: auto;
		display: inline-block;
	}
	
}

@media (min-device-width: 768px) {
	.container {
		width: 89%;
		max-width: 1200px;
	}
}

