@import url(page-header.css);
@import url(page-footer.css);
@import url(views.css);
@import url(game-view.css);
@import url(monsters-intro.css);
@import url(game-leader-board-view.css);
@import url(game-summary-view.css);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

#wrapper {
    height: 100%;
    width: 100%;
}

.default-bg {
    background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
    background: -o-linear-gradient(right, #ee0979, #ff6a00);
    background: -moz-linear-gradient(right, #ee0979, #ff6a00);
    background: linear-gradient(to right, #ee0979, #ff6a00);
}

/** For centering trick **/
.page-footer,
.page-header,
.main-content {
    text-align: center;
}

/** Completion of centering trick **/
.container {
    text-align: left;
    margin: auto auto 21px;
    max-width: 1200px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.pos-fixed {
    position: fixed;
}

a {
    text-decoration: none;
}

a.border-bottom {
    transition: border-bottom-color 0.21s linear;
    border-bottom: 1px solid transparent;
}

a.border-bottom:hover {
    border-bottom-color: #ee0979;
}

.page-header a,
.page-footer a {
    color: #FFF;
}

.page-header,
.game-area a,
.page-footer,
.container form,
.btn .btn-default {
    background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
    background: -o-linear-gradient(right, #ee0979, #ff6a00);
    background: -moz-linear-gradient(right, #ee0979, #ff6a00);
    background: linear-gradient(to right, #ee0979, #ff6a00);
    box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51) inset;
    border: none;
}

.page-header .controls .btn,
.game-area .btn {
    color: #e84029;
    background-color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 25px 10px;
    box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51) inset;
}

.game-area {
    display: flex;
    flex-direction: column;
}

.game-area a {
    color: #fff;
    text-decoration: none;
    text-align: start;
    border-radius: 20px;
    margin: 8px;
    padding: 13px 55px;
}

.typewriter h2 {
    overflow: hidden;
    border-right: .15em;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.jumbotron h2, .game-area h2, h3 {
    font-family: 'Barrio', cursive;
    font-size: 32px;
    color: #e84029;
    text-align: center;
    padding-right: 15px;
    margin-bottom: 55px;
    letter-spacing: 1px;

}

#change-color {
    background-color: blue;
}

h3 {
    display: inline-block;
    padding-right: 0;
    margin-bottom: 2px;
}

.jumbotron .container a {
    text-decoration: none;
}

.jumbotron .container h3:hover,
.jumbotron .container h3:hover {
    opacity: 1;
    border-bottom: 5px solid rgba(232, 64, 41, 0.6);
}

.account, .no-account {
    text-align: center;
}

.caption p {
    font-family: 'Barrio', cursive;
    color: #e84029;
    text-align: center;
}

.col-md-3 a {
    text-decoration: none;
}

.game-info,
#game-summary-view .container,
#game-over-view .container,
#game-leader-board-view .container {
    border-radius: 25px;
    margin-bottom: 34px;
    border: 1px solid #e84029;
    text-align: start;
    /*background-color: #ff6a00;*/
    box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51);
}

.game-timer .label, .value,
.user-score .label, .value,
#game-summary-view p,
#game-summary-view h2,
#game-over-view p,
#game-over-view h2 {
    color: #e84029;
    font-family: 'Barrio', sans-serif;
    font-size: 34px;
    text-align: start;
}

.jumbotron {
    background-color: transparent;
}

form {
    margin: 0 auto 34px;
    width: 75%;
    color: #FFF;
    padding: 21px;
    border-radius: 20px;
}

form .btn-default {
    background-color: #fff;
    color: #e84029;
    border: 1px solid #e84029;
}

form .btn-default:hover {
    background-color: #e84029;
    color: #FFF;
    border: 1px solid #e84029;
}

.main-content .monster-images {
    text-align: center;
}

.main-content .monster-images .monster-image {
    margin: 0 auto 5px;
}

.main-content .monster-images .monster-image img {
    display: inline-block;
    border: 1px solid #ff6a00;
    border-radius: 20px;
}

.monsters-showcase {
    list-style: none;
    width: 100%;
}

.monsters-images {
    margin: auto 0;
}

.monsters-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.monster-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.monster-pic img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.monster-pic img:hover {
    opacity: 1;
    transform: scale(1.03);
}

.opening-cards {
    margin-top: 21px;
}

.btn .btn-default {
    padding: 8px;
    margin: 13px;
    border-radius: 20px;
    color: #fff;
}

@media (min-device-width: 320px) {
    .main-content .monster-image {
        margin-bottom: 5px;
    }
}

@media (min-device-width: 320px) and (orientation: portrait) {
    .col-md-3 {
        text-align: center;
    }
    .col-md-3 > div {
        width: auto;
        display: inline-block;
    }
}

@media (min-device-width: 320px) and (orientation: landscape) {
    .main-content .monster-image {
        margin-bottom: 5px;
    }
    .col-md-3 {
        text-align: center;
    }
    .col-md-3 > div {
        width: auto;
        display: inline-block;
    }
}

@media (min-device-width: 768px) {
    .container {
        width: 89%;
        max-width: 1200px;
    }
}

