#monsters-intro-view .monsters-for-intro {
    position: relative;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    z-index: 1;
}

#monsters-intro-view .monsters-for-intro > div img {
    width: 100%;
}

#monsters-intro-view .monsters-for-intro > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    background: #FFF;
}

.main-content .monster-images {
    text-align: center;
}

.main-content .monster-images .monster-image {
    margin: 0 auto 5px;
}

.main-content .monster-images .monster-image img {
    display: inline-block;
    border: 1px solid #ff6a00;
    border-radius: 20px;
}

#monsters-intro-view .caption p {
    font-size: 1.8em;
    font-family: 'Barrio', cursive;
    color: #e84029;
    text-align: center;
}

.monsters-showcase {
    list-style: none;
    width: 100%;
}

.monsters-images {
    margin: auto 0;
}

.monsters-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.monster-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.monster-pic img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.monster-pic img:hover {
    opacity: 1;
    transform: scale(1.03);
}

.opening-cards {
    margin-top: 21px;
}


@media (min-width: 320px) {
    #monsters-intro-view .monsters-for-intro {
        overflow: hidden;
    }
}

@media (min-width: 800px) {
    #monsters-intro-view .monsters-for-intro {
        /*overflow: inherit;*/
    }
}
