#monsters-intro-view .monsters-for-intro {
    position: relative;
    width: 100%;
    height: 365px;
    overflow: hidden;
    z-index: 1;
}

#monsters-intro-view .monsters-for-intro > div img {
    width: 100%;
}

#monsters-intro-view .monsters-for-intro > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    background: #FFF;
}

#monsters-intro-view .caption p {
    font-size: 1.8em;
    font-family: 'Barrio', cursive;
    color: #e84029;
    text-align: center;
}

@media (min-width: 320px) {
    #monsters-intro-view .monsters-for-intro {
        overflow: hidden;
    }
}

@media (min-width: 800px) {
    #monsters-intro-view .monsters-for-intro {
        /*overflow: inherit;*/
    }
}
