.page-header {
	margin: 0;
    padding: 16px;
	width: 100%;
	background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
    background: -o-linear-gradient(right, #ee0979, #ff6a00);
    background: -moz-linear-gradient(right, #ee0979, #ff6a00);
    background: linear-gradient(to right, #ee0979, #ff6a00);
	box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51); 
	border: none;
	z-index: 999;
}

.page-header .title,
.page-header .title:hover {
	text-decoration: none;
}
.page-header .title:hover {
	cursor: pointer;
}

.page-header ul {
	padding: 0;
	margin: 0;
}

.page-header .controls .btn:hover {
	color: #fff;
	background-color: rgba(255, 106, 0, 0.48);
}

.page-header .controls .btn:active {
	background-color: rgb(180, 9, 9);
	box-shadow: 0 5px #777;
	transform: translateY(4px);
}

.page-header > * {
	display: inline-block;
}
.page-header .controls {
    z-index: 98;
}
.faux-header {
	visibility: hidden;
}

.page-header .hamburger {
    position: absolute;
    right: 0;
    display: flex;
    width: 42px;
    height: 28px;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100vh);
    margin: 8px;
    opacity: 0.72;
    z-index: 97;
}

.page-header .hamburger div {
    background: #fff;
    flex-basis: 6px;
    width: 100%;
}

@media (min-device-width: 320px) {

    html.touchevents .page-header .controls {
        position: absolute;
    }

    html.touchevents .page-header *,
    html.touchevents .page-footer * {
        box-sizing: border-box;
    }

    html.touchevents .page-header,
    html.touchevents .page-footer {
        text-align: left;
    }

    html.touchevents .page-header .title {
        margin-top: 11px;
    }
    html.touchevents .page-header .title h1 {
        font-size: 34px;
        margin: 0;
    }

    html.touchevents .page-header .hamburger {
        top: 10px;
        right: 8px;
        transform: translateX(0);
    }

    html.touchevents .page-header,
    html.touchevents .faux-header,
    html.touchevents .page-footer {
        /*position: relative;*/
        padding-top: 0;
        padding-bottom: 0;
        height: 64px;
    }

    html.touchevents .faux-header.menu-expanded,
    html.touchevents .page-header.menu-expanded {
        max-height: 610px;
    }

    html.touchevents .page-header.menu-expanded .controls {
        transform: translateY(0);
    }

    html.touchevents .controls {
        position: absolute;
        transition: transform 0.21s linear;
        transform: translateY(-100%);
        background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
        background: -o-linear-gradient(right, #ee0979, #ff6a00);
        background: -moz-linear-gradient(right, #ee0979, #ff6a00);
        background: linear-gradient(to right, #ee0979, #ff6a00);
        right: 0;
    }

    html.touchevents .controls a {
        margin-top: 0;
        display: block;
    }
}

@media (min-width: 586px) {

    .page-header,
    .faux-header,
    .page-footer {
        height: auto;
    }
}

@media (min-width: 768px) {

}
