html, body {
    margin: 0;
    padding: 0;
	font-family: 'Lato', sans-serif;

}

#page-header, #inner-page-header {
	margin: 0;
    padding: 16px;
    background: -webkit-linear-gradient(left, #ee0979, #ff6a00);
    background: -o-linear-gradient(right, #ee0979, #ff6a00);
    background: -moz-linear-gradient(right, #ee0979, #ff6a00);
    background: linear-gradient(to right, #ee0979, #ff6a00);
	box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51); 
	border: none;
}


#page-header {
	position: fixed;
	width: 100%;
}

#inner-page-header {
	visibility: hidden;
}

.controls pull-right a {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	color: #e84029;
	background-color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	border-radius: 20px;
	outline: none;
	border: none;
	margin: 25px 10px;
	box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51); 
}
.controls .pull-right li a:hover {
	color: #fff;
	background-color: rgba(255, 106, 0, 0.48);
}

ul {
	padding: 0;
	margin: 0;
}

#page-header, #inner-page-header {
	
	color: #e84029;
	background-color: #FFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	box-shadow: 5px 5px 20px rgba(77, 6, 44, 0.51); 
	} 
